body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
  margin: 0;
}

.wrapper{
  position: relative;
  margin: 20px;
}

.imgwrapper {
  display: inline-block;
  position: absolute;
   top: 0px;
   left: 0px;
}

.contwrapper {
  margin-left: 80px;
  display: inline-block;
}

.icon {
  display: inline-block;
  margin-right: 3px;
}
